* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

header {
  text-align: right;
  height: 10rem;
  font-size: 1.3rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.65);

  background-image: url(images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: 100% 148px; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header h1 {
  padding-right: 1.3rem;
}

h2 {
  margin-bottom: 1rem;
}

li {
  list-style: none;
}

.description,
.information,
.contact {
  margin: 1rem;
}

.product-card {
  margin: 0.5rem 0.5rem 0 0.5rem;
  border: 1px solid rgba(128, 128, 128, 0.65);
}

.product-card p {
  padding: 0.5rem;
  border-top: 1px solid rgba(128, 128, 128, 0.65);
}

.products img {
  width: 15rem;
  height: 10rem;
  padding: 0.5rem;
}

.products h2 {
  text-align: center;
}

th,
td {
  padding: 0.5rem;
  text-align: center;
}

form {
  display: flex;
  flex-flow: column nowrap;
}

form h4,
h3 {
  margin: 0.7rem 0 0.2rem 0;
}

input,
textarea,
.submit-btn {
  padding: 0.5rem;
  border: 1px solid rgba(128, 128, 128, 0.65);
}

.submit-btn {
  width: 10rem;
  margin-top: 0.5rem;
  background: none;
}

footer {
  background-color: rgba(128, 128, 128, 0.32);
  height: 15rem;
  text-align: center;
  padding-top: 1rem;
}

.icon-list {
  display: flex;
  justify-content: center;
}

.icon {
  margin: 0 0.5rem 0 0.5rem;
  font-size: 1.8rem;
}

a[target="_blank"]::after {
  font-family: "FontAwesome";
  content: "\f35d";
  margin-left: 5px;
}

.cards {
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .cards {
    /* flex-wrap: wrap; */
    flex-direction: column;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(1) {
  background-color: white;
}
tr:nth-child(2) {
  background-color: rgba(128, 128, 128, 0.616);
}
tr:nth-child(3) {
  background-color: white;
}
tr:nth-child(4) {
  background-color: rgba(128, 128, 128, 0.616);
}
tr:nth-child(5) {
  background-color: white;
}
input:focus,
textarea:focus {
  outline-color: blue;
}
label {
  padding: 10px;
}
